<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href= "/public/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar bg-body-tertiary mb-3">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Trave-Lista</span>
        </div>
     </nav>
    <section class="destination">
        <h1>des</h1>
            <div><div>
    
    </section>
    
    <section class="todo-container">
        <h3>Packing List</h3>
         <ul>
          <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
         <% }) %>    
         </ul>
    </section> 
    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout" type="button" class="btn btn-info">Logout</a>

    <script src="/public/js/main.js"></script>
</body>
</html>